APP_ENV=dev
APP_SECRET=changethissecretkey1234567890abcd

# MySQL example:
DATABASE_URL="mysql://root:@127.0.0.1:3306/all_games?serverVersion=8.0.32&charset=utf8mb4"

# PostgreSQL example:
# DATABASE_URL="postgresql://user:password@127.0.0.1:5432/all_games?serverVersion=15&charset=utf8"

MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
MAILER_DSN=null://null
